@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    
    display: flex;
}

button {
    cursor: pointer;
}

/* Nav bar */

nav {
    width: 300px;
    height: 100vh;
    background-color: #00B4D8;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    padding: 20px;
}

nav h1 {
    font-size: 2.5rem;
}

nav img {
    width: 20px;
    cursor: pointer;
    
    transition: 100ms ease-in-out;
}

nav img:hover {
    background: #0077B6;
    border-radius: 5px;
    padding: 5px;
}

.groups-wrapper {
    width: 100%;
    height: 90%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    font-size: 1.2rem;
    
    user-select: none;
}

.groups-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 0;
}

.groups-heading-buttons {
    display: flex;
    gap: 20px;
}

#down-arrow-button.collapsed{
    transform: rotate(-90deg);
}

.groups.collapsed {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, -5%);
}

.groups {
    transition: 250ms;
    overflow-y: auto;
}

.group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 15px;
    
    height: 50px;
}

.group-item:hover {
    background-color: rgba(0, 118, 182, 0.473);
    cursor: pointer;
}

.group-item img:hover {
    background-color: #ff0000;
}

.group-item.active {
    background-color: rgba(0, 118, 182, 0.473);
}

.custom-group-name {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    
    outline: none;
    border: none;
    
    width: 100px;
    
    background-color: transparent;
}

.custom-group-name:focus {
    border-bottom: 1px solid white;
}

.color-tag {
	-webkit-appearance: none;
    appearance: none;
	border: none;
    
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    
    cursor: pointer;
}

.color-tag:hover {
    transform: scale(1.1);
}

.color-tag::-webkit-color-swatch-wrapper {
	padding: 0;
}

.color-tag::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}

/* Tasks */

main {
    position: relative;
    
    flex: 1;
    
    display: flex;
    flex-direction: column;
    gap: 40px 30px;
    
    height: 100vh;
    
    padding: 20px;
    
}

main h2 {
    font-size: 2.5rem;
}

.task-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    
    overflow-y: auto;
}

.task-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-content h3 {
    width: 100%;
}

.task-content button {
    font-family: inherit;
    
    padding: 5px;
    margin: 0 0 0 10px;
    
    width: 200px;
    
}

.tasks {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
}

.task {
    display: flex;
    gap: 25px;
    
    padding: 10px;
    
    cursor: pointer;
}

.task:hover {
    background-color: rgba(0, 118, 182, 0.473);
}

.task input {
    cursor: pointer;
}

.group-tag {
    border-radius: 5px;
}

/* Edit Task Modal */

.edit-task-modal {
    display: none;
    flex: 1;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-task-modal * {
    font-family: "Jua", sans-serif;
    font-size: 1.2rem;
    
}

.edit-task-modal form {
    background-color: white;
    
    border-radius: 20px;
    
    padding: 25px;
    
    width: 60%;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.edit-task-modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-name input, .task-description textarea {
    border: none;
    border-radius: 5px;
    outline: none;
    
    padding: 10px;
}

.task-name input {
    width: 100%;    
}

.task-name input:hover {
    background-color: lightgray;
}

.task-name input:focus {
    background-color: lightgray;
}

.task-description {
    height: 200px;
}

.task-description textarea {
    background-color: #CAF0F8;
    resize: none;
    
    width: 100%;
    height: 100%;
}

.task-options {
    display: flex;
    gap: 50px;
    
    margin-top: 10px;
}

.task-group-dropdown-wrapper {
    position: relative;
}

.task-group-dropdown-wrapper > button {
    width: 150px;
}

.task-group-dropdown {
    display: none;
    
    position: absolute;
    bottom: 150%;
    
    width: 100%;
    max-height: 250px;
    
    overflow-y: auto;
    
    background-color: #0076b6;
    padding: 10px;
    
    /* display: flex; */
    flex-direction: column;
    gap: 5px;
}

.task-group-dropdown button {
    width: 100%;
}

.task-group-dropdown button:hover {
    transform: scale(1.1);
}

.edit-task-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}